.career-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    color: white;
  }
  
  .career-options {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  }
  
  .career-options:focus {
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0,123,255,.25);
    border-color: #80bdff;
  }
  
  .career-options:active, .career-options:hover {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .career-options:disabled {
    color: #6c757d;
    background-color: #fff;
    border-color: #ced4da;
  }
  
  
  
  ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  li {
    margin-bottom: 10px;
    font-size: 18px;
  }
  