@import url("https://fonts.googleapis.com/css2?family=Pathway+Extreme&display=swap");

.main_div {
  font-family: "Pathway Extreme", sans-serif;
  color: white;
  margin-top: 100px;
}

.home_container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

.vision {
  display: flex;
  width: 75%;
  align-items: center;
  justify-content: center;
  font-size: 70px;
  font-weight: bolder;
  background: -webkit-linear-gradient(#fff, #4d4a4a);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.vision-content {
  font-weight: bolder;
  width: 100%;
  text-align: justify;
  padding-right: 100px;
}

.target {
  width: 100%;
  margin-top: 75px;
  padding: 75px 100px 50px 100px;
  font-weight: bolder;
  font-size: 50px;
  background: -webkit-linear-gradient(#fff, #4d4a4a);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  justify-content: center;
}

.main_div h3 {
  padding: 0px 100px;
}

.button_div {
  display: flex;
  justify-content:space-around;
}

.service_button {
  padding: 10px;
  background-color: #5a5a5a;
  color: white;
  border: 0;
  border-radius: 25px;
  text-decoration: none;
}

.service_button:hover {
  background-color: white;
  color: #5a5a5a;
  transition: 0.5s;
}

.service_button_card {
  display: flex;
  width: 30%;
  padding: 10px;
  margin-left: 35%;
  background-color: #5a5a5a;
  color: white;
  border: 0;
  border-radius: 25px;
  text-decoration: none;
  justify-content: center;
}

.service_button_card:hover {
  background-color: white;
  color: #5a5a5a;
  transition: 0.5s;
}

.interest {
  text-align: center;
  margin: 45px;
  padding: 50px;
  font-size: 75px;
  background: -webkit-linear-gradient(#fff, #4d4a4a);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.offer_cards {
  display: flex;
  padding: 50px;
  margin: 25px 40px 40px 35px;
  color: white;
  font-family: "Pathway Extreme", sans-serif;
  justify-content: space-around;
  align-items: center;
}

.offer_cards h1 {
  background: -webkit-linear-gradient(#fff, #4d4a4a);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bolder;
  text-align: center;
}

.offer_cards p {
  text-align: center;
}

.icons {
  width: 100%;
  padding-bottom: 20px;
  color: #4d4a4a;
}

.offer_cards_card1,
.offer_cards_card2,
.offer_cards_card3 {
  width: 100%;
  border: 5px pink;
  border-radius: 12px;
  padding: 30px;
}
