@import url("https://fonts.googleapis.com/css2?family=Pathway+Extreme&display=swap");

.locations_container {
  display: flex;
  font-family: 'Pathway Extreme', sans-serif;
  justify-content: center;
  margin-top: 30px;
  background: -webkit-linear-gradient(#fff, #4d4a4a);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.prime_container {
    margin-top: 50px;
    margin-bottom: 100px;
}

.location_content {
    color: white;
    font-size: 35px;
    font-weight: bold;
    padding: 10px;
    font-family: 'Pathway Extreme', sans-serif;
    text-align: center;
}

.locations {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.locations_list {
    font-size: 34px;
    font-family: 'Pathway Extreme', sans-serif;
    width: 100%;
    padding: 0 auto;
    color: white;
    text-align: center;
}

.locations_list li {
    list-style-type: none;
}
