@import url("https://fonts.googleapis.com/css2?family=Pathway+Extreme&display=swap");

.services_container {
  font-family: "Pathway Extreme", sans-serif;
  font-size: 25px;
  font-weight: bold;
  padding: 50px;
}

.intro_para {
  color: white;
  text-align: center;
  padding: 50px;
}

.services {
  display: flex;
  justify-content: center;
}

.iconSide {
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
}

.iconSide p {
  color: white;
  background: -webkit-linear-gradient(#fff, #4d4a4a);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 50px;
}

.service_icons {
  padding: 20px;
  color: #4d4a4a;
}

.contentSide {
  width: 100%;
  color: white;
  text-align: center;
  padding: 75px 20px;
}

hr {
  width: 50%;
  height: 5px;
  margin: 5% 25% !important;
  border-radius: 12px;
  background: #fff;
}

.contentSide li {
  list-style: none;
}
