.navigation {
  position: fixed;
  top: 50px;
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 2rem;
}

.nav-bar {
  color: #ffffff;
  font-size: 20px;
  display: inline;
  float: left;
  list-style: none;
  text-align: center;
  border: 2px #ffffff;
  border-radius: 30px;
}

.nav-bar_drop {
  list-style-type: none;
}
