@import url("https://fonts.googleapis.com/css2?family=Pathway+Extreme&display=swap");

.footer {
  background-color: #191715;
  text-align: center;
  margin-top: auto;
  padding: 10px;
  font-family: "Pathway Extreme", sans-serif;
}

.footercol {
  margin: 30px;
  font-family: "Pathway Extreme", sans-serif;
}

.col-sm-3.links {
  margin-top: 20px;
}

.m-address h5,
.links h5 {
  background: -webkit-linear-gradient(0deg, #fff, #4d4a4a);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bolder;
}

.m-address p,
.links li {
  background: -webkit-linear-gradient(0deg, #fff, #4d4a4a);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.input {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.input a {
  text-decoration: none;
}

.input h1 {
  display: flex;
  justify-content: center;
  color: white;
  background: -webkit-linear-gradient(#fff, #4d4a4a);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer_nav {
  list-style: none;
}

.footer_nav a {
  color: white;
  text-decoration: none;
}

.footer_nav a:hover {
  color: lightslategrey;
}

.line {
  border-top: 1px solid white;
  background: -webkit-linear-gradient(#fff, #4d4a4a);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo {
  display: flex;
}