.footer {
    color: white;
    background-color: #191715;
    text-align: center;
    margin-top: auto;
    padding: 8px;
  }

  .footercol{
    color: white;
    margin: 30px;
  }

  .line{
    border-top: 1px solid white;
  }