@import url("https://fonts.googleapis.com/css2?family=Pathway+Extreme&display=swap");

.navigation {
  position: absolute;
  top: 50px;
  width: 75%;
  height: 4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 2rem;
  font-family: "Pathway Extreme", sans-serif;
  background: -webkit-linear-gradient(#fff, #4d4a4a);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-bar {
  display: flex;
  padding: 10px;
  justify-content: right;
}

.nav-bar li {
  font-size: 20px;
  padding: 40px;
  display: inline;
  list-style: none;
  text-align: center;
  font-weight: bolder;
}

.nav-bar li:hover {
  text-transform: capitalize;
}